@import './base';
@import './media';

// custom styles

html {
  height: 100%;
  overflow-x: hidden;
}

body {
  height: 100%;
  position: relative;
  overflow-x: hidden;

  .social {
    position: fixed;
    left: 5rem;
    bottom: 5rem;
    z-index: 1;

    @include medium {
      display: none;
    }

    .icons {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      a {
        color: $grey;
        font-size: 2.5rem;
        transform: translateY(0) scale(1);
        transition: 0.2s ease;

        &:hover {
          color: $blue;
          transform: translateY(-0.2rem) scale(1.01);
        }
      }
    }
  }
}

header {
  min-height: 100%;
  position: relative;

  .flex-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5rem 5rem;
    position: absolute;
    width: 100%;
  }

  .mobile-toggle {
    z-index: 1;
    width: 30px;
    height: 30px;
    cursor: pointer;
    display: none;

    @include medium {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    span {
      height: 2px;
      background-color: $blue;
      transition: 0.2s ease-in-out;
    }

    &.toggled {
      justify-content: center;
    }

    &.toggled span {
      &:first-child {
        transform: rotate(45deg);
        // transform-origin: top left;
      }
      &:nth-child(2) {
        display: none;
      }
      &:last-child {
        transform: rotate(-45deg) translate(2%, -65%);
        // transform-origin: bottom left;
      }
    }
  }

  .logo {
    z-index: 2;
  }

  .logo h1 {
    font-size: 3rem;

    letter-spacing: -3px;
  }

  .mobile-nav {
    position: absolute;
    background-color: $dark-blue;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    transition: 0.2s ease-in-out;
    transform: translateX(100%);
    display: none;
    z-index: 1;

    @include medium {
      display: block;
    }

    .social-mobile {
      .icons {
        display: flex;
        gap: 2rem;
      }
      a {
        font-size: 2.5rem;
      }
    }

    &.toggled {
      transform: translateX(0%);
    }

    ul {
      height: 100%;
      display: flex;
      flex-direction: column;
      gap: 4rem;
      align-items: center;
      justify-content: center;

      a {
        font-size: 2rem;
        color: $grey;

        &:hover {
          color: $blue;
        }
      }
    }
  }

  .main-nav {
    z-index: 1;
    @include medium {
      display: none;
    }

    ul {
      display: flex;
      gap: 6rem;

      .nav-resume-btn {
        border: 1px solid $blue;
        color: $blue;
        padding: 1rem 1.2rem;
        font-size: 1.4rem;
        font-family: $roboto-mono;

        &:hover {
          background: transparentize($blue, 0.8);
        }
      }

      .nav-item {
        color: $grey;
        font-size: 1.4rem;
        font-family: $roboto-mono;
        position: relative;
        display: inline-block;

        &::before {
          content: '';
          width: 3px;
          height: 80%;
          background-color: $blue;
          display: inline-block;
          position: absolute;
          left: -1.5rem;
          top: 50%;
          transform: translateY(-50%);
        }

        &:hover {
          color: $blue;
        }
      }
    }
  }

  .main-belt {
    min-height: 100%;
    display: grid;
    grid-template-columns: repeat(5, 100vw);
    position: absolute;
    transition: 0.5s ease-in-out;
    transform: translateX(00vw);
  }

  .hero-wrapper,
  .about-wrapper,
  .work-wrapper,
  .experience-wrapper,
  .contact-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;

    @include medium {
      // text-align: center;
      padding: 0 2rem;
      height: 100%;
      padding-top: 10%;
    }

    h1 {
      font-size: 7rem;
      line-height: 9rem;
      color: $light-blue;

      &:nth-of-type(2) {
        color: $blue;
      }

      @include medium {
        font-size: 5rem;
        line-height: 4rem;
        margin: 2rem 0;
      }

      @include small {
        line-height: 2rem;
        font-size: 3rem;
      }
    }

    p.mono {
      font-size: 1.6rem;
      font-family: $roboto-mono;

      @include medium {
        font-size: 1.3rem;
      }
    }
    p.normal {
      font-size: 1.7rem;
      line-height: 2.5rem;
      color: $grey;
      max-width: 70ch;
      width: 100%;

      @include medium {
        font-size: 1.5rem;
        margin-bottom: 2rem;
      }
    }
    .btn {
      border: 1px solid $blue;
      color: $blue;
      padding: 1rem 1.2rem;
      font-size: 1.4rem;
      font-family: $roboto-mono;
      display: inline-block;

      &:hover {
        background: transparentize($blue, 0.8);
      }
    }
  }

  .about-wrapper {
    .mono {
      margin-bottom: 0;
    }

    h1 {
      font-size: 6rem;

      @include medium {
        font-size: 5rem;
        line-height: 4rem;
        margin: 2rem 0;
      }

      @include small {
        line-height: 2rem;
        font-size: 3rem;
      }
    }
  }

  .work-wrapper {
    .header-content {
      max-width: 80rem;
      width: 100%;
      margin-inline: 2rem;

      .btn {
        margin-top: 1.5rem;
      }

      .btn:first-of-type {
        margin-right: 1rem;
        border-color: $light-blue;
        color: $light-blue;
      }
    }

    .thumbnails {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 2rem;
      margin-top: 1rem;

      .thumbnail-unit {
        height: 25rem;
        background: $dark-blue;
        box-shadow: 0px 5px 15px 3px rgba(0, 0, 0, 0.158);
        transition: 0.2s ease-in-out;
        cursor: pointer;
        padding: 2.5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        position: relative;
        z-index: 1;

        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-image: url('../images/content_img_1.jpg');
          opacity: 0.1;
          z-index: 0;
        }

        &:hover {
          transform: translateY(-2px);
        }

        .top {
          display: flex;
          justify-content: space-between;
          align-items: center;
          color: $grey;

          ion-icon[name='desktop'] {
            color: $blue;
            font-size: 4rem;
          }

          .right {
            font-size: 2.5rem;
            z-index: 1;
            a {
              color: $grey;

              &:hover {
                color: $blue;
                transform: translateY(-2px);
              }
            }
          }
        }
        .text {
          strong {
            font-size: 1.4rem;
            color: $light-blue;
            display: inline-block;
            margin-bottom: 1rem;
          }
          p {
            font-size: 1.2rem;
            line-height: 1.5rem;
          }
        }
        .tools {
          color: $light-blue;
          font-size: 1.5rem;
          display: flex;
          gap: 1rem;
        }
      }
    }
  }

  .experience-wrapper {
    text-align: left;

    .btn {
      margin-top: 2rem;
    }

    h1 {
      font-size: 5rem;
      margin-block: 2rem;

      @include medium {
        font-size: 4rem;
        line-height: 3rem;
        margin: 2rem 0;
      }

      @include small {
        line-height: 2rem;
        font-size: 3rem;
      }
    }

    .experience-container {
      display: flex;
      text-align: left;
      max-width: 90rem;
      width: 100%;

      @include medium {
        flex-direction: column;
      }

      .experience-list {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-size: 1.2rem;
        padding-right: 5rem;

        @include medium {
          flex-direction: row;
          justify-content: space-between;
          font-size: 1.5rem;
          margin-block: 2rem;
        }

        a {
          position: relative;
          display: inline-block;
          padding-left: 1rem;
          color: $grey;

          &:hover {
            color: $blue;
          }
          @include medium {
            padding-left: 0;
            padding-bottom: 1rem;
          }

          &::before {
            content: '';
            position: absolute;
            left: 0;
            width: 3px;
            height: 100%;
            background-color: $blue;
            opacity: 0;

            @include medium {
              width: 100%;
              height: 3px;
              bottom: 0;
            }
          }

          &.active {
            color: $blue;
          }

          &.active::before {
            opacity: 1;
          }
        }
      }

      .experience-content {
        flex: 2;

        .experience-title {
          color: $blue;

          span {
            color: $light-blue;
          }
        }
      }

      p.mono {
        font-size: 1.2rem;
        margin: 1rem 0;
        color: $grey;
      }

      p.normal {
        font-size: 1.5rem;
        line-height: 2rem;
        margin: 1rem 0;
        position: relative;
        padding-left: 1.4rem;
        display: inline-block;

        &::before {
          content: '>';
          position: absolute;
          left: 0;
          color: $blue;
        }
      }
    }
  }

  .contact-wrapper {
    .social {
      position: relative;
      bottom: inherit;
      left: inherit;
      display: block;

      h1 {
        @include small {
          margin-block: 3rem;
        }
      }

      .icons {
        display: flex;
        flex-direction: row;
        gap: 2rem;
        margin: 2rem 0 0.5rem;

        a {
          color: $grey;
          font-size: 2.5rem;
          transform: translateY(0) scale(1);
          transition: 0.2s ease;

          &:hover {
            color: $blue;
            transform: translateY(-0.2rem) scale(1.01);
          }
        }
      }
    }
  }
}
